.checkout {
    background: #f4f6fe;
  }
  
  .checkout-content,
  .checkout-package {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .checkout-package {
    margin: 0 auto 20px;
  }
  
  .checkout-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .checkout-table thead {
    background: #f4f6fe;
    color: gray;
  }
  
  .checkout-table tbody {
    background: #f4f6fe6c;
  }
  
  .checkout-table th,
  .checkout-table td {
    border: 1px solid #f2f2f2;
    padding: 12px;
    text-align: center;
  }
  
  @media screen and (max-width: 576px) {
    .checkout {
      padding: 30px 0;
    }
    .checkout-content,
    .checkout-package {
      padding: 12px;
    }
    .checkout-table th,
    .checkout-table td {
      font-size: 15px;
    }
  }
  