.admin-group .StripeElement {
    border: 1px solid #10bad4;
    background: #efeff5;
    padding: 10px;
    border-radius: 5px;
    width: 55vh;
  }
  
  @media (max-width: 1200px) {
    .admin-group .StripeElement {
      width: 49vh;
    }
  }
  
  @media (max-width: 1100px) {
    .admin-group .StripeElement {
      width: 45vh;
    }
  }
  
  @media (max-width: 1045px) {
    .admin-group .StripeElement {
      width: 40vh;
    }
  }
  
  @media (max-width: 980px) {
    .admin-group .StripeElement {
      width: 35vh;
    }
  }
  
  @media (max-width: 905px) {
    .admin-group .StripeElement {
      width: 30vh;
    }
  }
  
  @media (max-width: 400px) {
    .admin-group .StripeElement {
      width: 32vh;
    }
  }
  